# npm
package-lock.json
node_modules

# yarn
yarn.lock
yarn-error.log

# pnpm
pnpm-lock.yaml

# vscode
.vscode

# vuepress
docs/.vuepress/dist

# 百度链接推送
urls.txt

# mac
.DS_Store

# idea
.idea
.trae

# 备份文件
package-lock_back.json
yarn_back.lock

# Python 编译缓存
__pycache__/
*.pyc
